<h1>JA</h1>
<h2> Magda. Muzyka, filmy i podróże? Zawsze :)</h2>
<h3>
  <ul>
  <li>Muzyka</li>
  <li>Filmy</li>
  <li>Podróże</li>
  </ul>
<<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Blue_mountains_-_three_sisters.jpg/1024px-Blue_mountains_-_three_sisters.jpg" alt="">
